@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Poppins:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        193.2deg,
        #515151 -4.91%,
        #46c5cd 26.78%,
        #15c0ca 70.21%,
        #44a7ad 92.78%,
        #828687 107.77%
    );
    background-repeat: no-repeat;

    height: 100vh;
}
.wrapper {
    padding: 0.8em 1em;
    height: -webkit-fill-available;

    // .shape1 {
    //     position: absolute;
    //     background: #ffb445;
    //     width: 18em;
    //     height: 36em;
    //     border-radius: 5em;
    //     transform: rotate(-47deg);
    //     opacity: 80%;
    //     z-index: -1;
    //     left: -85.29%;
    //     top: -19.12%;
    //     bottom: 22.07%;
    // }

    // .shape2 {
    //     position: absolute;
    //     background: #ffb445;
    //     width: 26%;
    //     height: 546px;
    //     border-radius: 50px;
    //     transform: rotate(-46deg);
    //     opacity: 80%;
    //     z-index: -1;
    //     left: 114%;
    //     top: 22%;
    // }

    // .shape3 {
    //     position: absolute;
    //     background: #ffb445;
    //     width: 16em;
    //     height: 36em;
    //     border-radius: 4em;
    //     transform: rotate(-47deg);
    //     opacity: 80%;
    //     z-index: -1;
    //     left: 50%;
    //     top: 37%;
    //     bottom: 22.07%;
    // }
}

.section1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .settings {
        width: 1.3em;
        height: 1.3em;
        background: rgba(230, 230, 230, 0.45);
        padding: 0.5em;
        border-radius: 0.8em;
    }

    .logout {
        width: 1.3em;
        height: 1.3em;
        background: rgba(230, 230, 230, 0.45);
        padding: 0.5em;
        border-radius: 0.8em;
    }
}

.section2 {
    background: rgba(230, 230, 230, 0.27);
    border-radius: 1.2em;
    box-shadow: 0px 0px 13px 1px rgb(76 76 76 / 40%);
    padding-inline: 1em;
}

.delete {
    display: flex;
    justify-content: center;
    .trash {
        width: 1em;
        padding: 0.6em;
        height: 1em;
    }
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .face-name {
        display: flex;
        justify-content: center;
        align-items: center;
        .face {
            width: 3em;
            height: 3em;
            background: rgba(236, 236, 236, 0.4588235294);
            border-radius: 1.2em;
            padding: 1.2em;
        }

        .name {
            color: rgba(255, 255, 255, 0.9);
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 0.9em;
            padding: 0.6em;
        }
    }
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0 0.2em;

    .phone-number {
        display: flex;
        align-items: center;
        .full-phone {
            padding: 0.2em 0 0 0;

            .phone1 {
                position: absolute;
                width: 0.9em;
                height: 0.9em;
            }
            .phone2 {
                position: relative;
                width: 0.9em;
                height: 0.9em;
            }
        }
        .number {
            color: #ffffffc4;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 0.6em;
            margin-left: 0.5em;
        }
    }
    .mail-address {
        display: flex;
        align-items: center;
        .mail {
            position: relative;
            width: 0.9em;
            height: 0.9em;
        }
        .address {
            color: #ffffffc4;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 0.6em;
            margin-left: 0.5em;
        }
    }
}
.edit {
    float: right;
    width: 0.9em;
    height: 0.9em;
    padding: 0.3em;
    border: 1px solid white;
    border-radius: 0.4em;
    background: rgb(23 215 226 / 65%);
    fill: white;
    box-shadow: 0px 0px 2px 1px rgb(76 76 76 / 18%);
}

.section3 {
    background: rgb(255 255 255 / 65%);
    margin: auto;
    border-radius: 1.2em;
    padding-inline: 1em;
    margin-top: 2.5em;
    margin-bottom: 100%;
    .header {
        display: grid;
        grid-template-columns: auto auto;
        padding-inline: 1.5em;
        padding-top: 2.5em;
        h1 {
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 0.9em;
        }
        p {
            display: inline;
            color: rgb(108 120 121);
            font-family: "Inter", sans-serif;
            font-weight: 300;
            font-size: 0.6em;
        }
        .elipse {
            width: 0.4em;
        }
    }
    .content {
        .range {
            padding-inline: 1.5em;
            padding-top: 1em;
            height: 1em;
            input {
                width: 100%;
            }

            .flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                // padding-inline: 24px;

                p {
                    color: rgb(108 120 121);
                    font-family: "Inter", sans-serif;
                    font-weight: 300;
                    font-size: 0.6em;
                }
                output {
                    font-family: "Inter", sans-serif;
                    font-weight: 700;
                    font-size: 0.6em;
                }
            }
        }
        .content-table {
            padding: 1em 1.5em;
            margin-top: 0.5em;

            h2 {
                text-align: left;
                font-family: "Inter", sans-serif;
                font-weight: 700;
                font-size: 0.6em;
            }
            p {
                color: rgb(108 120 121);
                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-size: 0.6em;
            }
            .row1,
            .row2,
            .row3 {
                padding: 0.8em 0;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                border-top: 1px solid grey;
                align-items: baseline;
                text-align: left;
                align-content: center;
                justify-items: start;
            }
        }
    }
}
